Huono-osaisuuden mittarit kunnittain20032020.xlsx
Huono-osaisuuden mittarit maakunnittain20032020.xlsx
Huono-osaisuuden mittarit seutukunnittain20032020.xlsx
Kopio_Huono-osaisuuden mittarit - KAIKKI.xlsx
Huono-osaisuusindikaattorit - uusimmat.xlsx
Aikasarjadata KORJATTU.xlsx
Muuttujakuvaukset_20201102.xlsx
aikasarjadata_20211104.xlsx
huono_osaisuusindikaattorit_20211104.xlsx
install_packages.R
