/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 70px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}

h2 {
  padding: 45px 5px 0;
}

h3 {
  padding: 15px 15px 0;
}



.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*DIAK-kustomoinnit*/

.bg-light {
    background-color: rgb(248, 249, 250, .85) !important;
}

.bg-alueprofiili {
    background-color: rgb(210, 210, 210) !important;
}



