
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 70px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.leaflet-container { background: #ffffff !important; }


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.navbar-xyz {
        /*background-color: rgb(255, 255, 255, .9);
        border-bottom: 1px solid rgb(55, 55, 55, .4);*/
    border: none;
    -webkit-box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 15px 0px rgba(0, 0, 0, 0.1);
    min-height: 50px;
    background-color: rgb(255, 255, 255);
    padding: 5px 0;

      }
      
/* headroom.js ------------------------ */

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

/* tidyverse css ----------------------  */
body {font-size: 16px;}
h1 {font-size: 40px;}
h2 {font-size: 30px;}
h3 {font-size: 23px;}

.contents .page-header {
  margin-top: 10px;
}

/* reduce h3 margin for proper nesting under h2 */
.contents h3 {margin-top: -60px}

.ref-arguments th {vertical-align: top;}

/* navbar ----------------------------------------------- */

.navbar .info {
  float: left;
  height: 50px;
  width: 140px;
  font-size: 80%;
  position: relative;
  margin-left: 5px;
}
.navbar .info .partof {
  position: absolute;
  top: 0;
}
.navbar .info .version {
  position: absolute;
  bottom: 0;
}
.navbar .info .version-danger {
  font-weight: bold;
  color: orange;
}

.navbar-form {
  margin-top: 3px;
  margin-bottom: 0;
}

.navbar-toggle {
  margin-top: 8px;
  margin-bottom: 5px;
}

.navbar-nav li a {
  padding-bottom: 10px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #eee;
  border-radius: 3px;
}

/* syntax highlighting ----------------------------------- */

.co {
  color: #333;
}

/* footer ------------------------------------------------ */

footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;

  display: flex;
  color: #666;
}
footer p {
  margin-bottom: 0;
}
footer .tidyverse {
  flex: 1;
  margin-right: 1em;
}
footer .author {
  flex: 1;
  text-align: right;
  margin-left: 1em;
}

/* sidebar ------------------------------------------------ */

#sidebar h2 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

#sidebar .list-unstyled li {
  margin-bottom: 0.5em;
  line-height: 1.4;
}

#sidebar small {
  color: #777;
}

#sidebar .nav {
  padding-left: 0px;
  list-style-type: none;
  color: #5a9ddb;
}

#sidebar .nav > li {
  padding: 10px 0 0px 20px;
  display: list-item;
  line-height: 20px;
  background-image: url(./tocBullet.svg);
  background-repeat: no-repeat;
  background-size: 16px 280px;
  background-position: left 0px;
}

#sidebar .nav > li.active {
  background-position: left -240px;
}

#sidebar a {
  padding: 0px;
  color: #5a9ddb;
  background-color: transparent;
}

#sidebar a:hover {
  background-color: transparent;
  text-decoration: underline;
}

/* tidyverse css end ------------------  */


.leaflet-container {
    background: #FFF;
    }
.grey-background {
      background-color: rgb(255, 255, 255, .9);
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      }
.container_1280 {
        max-width: 1280px; 
        margin: auto;
}
#map {
    margin: auto;
  }


body > .container {
  padding: 10px 15px 0;
}

h1 {
  scroll-margin-top: 4em;
}

h2 {
  padding: 5px 5px 0;
  font-weight: 600 !important;
  scroll-margin-top: 4em;
}

h3 {
  padding: 5px 15px 0;
  font-weight: 600 !important;
  scroll-margin-top: 4em;

}

h4 {
  padding-top: 25px;
  font-weight: 600 !important;
}

h5 {
  padding: 15px 45px 0;
  font-size: 1.3em;
  font-weight: 500 !important;
}


.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/*DIAK-kustomoinnit*/

.bg-light {
    background-color: rgb(248, 249, 250, .95) !important;
}

.bg-dark-diak {
  background-color: #353535;
}

.footer-content {
  color: #FFF !important; 
}


.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1340px;
}

.shiny-plot-output {
    margin-top: 4px;
    margin-bottom: 4px;
    height: auto;
    border: 2px solid #fff;
    box-shadow: 2px 2px 3px #ccc;
    -moz-box-shadow: 2px 2px 3px #ccc;
    -webkit-box-shadow: 2px 2px 3px #ccc;
    -khtml-box-shadow: 2px 2px 3px #ccc;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.9) !important;
}

a {
    color: #1A5699 !important;
    text-decoration: none;
    background-color: transparent;
}

code {
    font-size: 87.5%;
    color: #A52B63 !important;
    word-wrap: break-word;
}

.btn-primary {
    color: #fff;
    background-color: #1A5699;
    border-color: #1A5699;
}

.btn-dark {
    color: #fff !important;
    background-color: #373a3c;
    border-color: #373a3c;
}

.nav-item {
   list-style-type: none;
}
